.grade{
    height: 5em;
    margin-top: 25px;
}

.row{
    display:flex; 
    /*主轴垂直布局*/
    flex-direction: row;
    /*主轴 中间位置开始*/
    justify-content: center;
}

.flower{
    display: block;
    width: 3.8em;
    height: 3.8em;
    margin: 5px;
    background: url("../res/flower.png") no-repeat;
    background-size: cover;
}

.flowerred{
    background: url("../res/flower_red.png") no-repeat !important;
    background-size: cover !important;
}


.board{
    background-color: #cdcdcd;
    height: 5.5em;
    margin: 0;
    padding: 0;
}

.board canvas{
    width: 100%;
    height: 100%;
    margin: 2px;
}

.mode{
    height: 4em;
    display:flex; /*块 实现 独占一行*/
    /*主轴垂直布局*/
    flex-direction: column;
    /*主轴 中间位置开始*/
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}


.mode .row .cell{
    display: block;
    width: 4.5em;
    height: 1.5em;
    border-radius: 0.2em;
    border: 2px solid rgb(2, 141, 134);
    margin: 6px;
    padding: 0;
    text-align: center;
    line-height: 1.5em;
    font-size: 1.0em;
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgb(1, 104, 105);
    color: #fff;
}

.keyboards{
    width: 100%;
    display:flex; /*块 实现 独占一行*/
    /*主轴垂直布局*/
    flex-direction: column;
    /*主轴 中间位置开始*/
    justify-content: center;
    background-color:#fff;
}

.keyboards .row .cell{
    display: block;
    width: 3.5em;
    height: 3.5em;
    line-height: 3.5em;
    border-radius: 0.5em;
    border: 2px solid rgb(2, 141, 134);
    margin: 4px;
    padding: 0;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    background-color:darkturquoise;
    color: #fff;
}

.selected{
    color: black !important;
    background-color:cyan !important;      /*增加权重，否则后加属性不生效*/
}

.audios{
    display: none;
}

ul li{
    font-size: 1.1em;
}